<div class='row no-gutters mt-5'>

  <div class='col-lg-3 offset-lg-1 col-md-10 offset-md-1 exchange-box'>
    <div class='row no-gutters justify-content-center mb-2'>
      <div class='col-12 text-center'>
        <%= image_tag '/bitexchange-logo.png', class: 'img-fluid logo'%>
        <h3 class='my-1 font-weight-bold'><span class='text-white'>Bit</span><span class='text-blue'>Exchange</span></h3>
      </div>
    </div>

    <div class='row no-gutters'>
      <%= render 'shared/exchange_box' %>
    </div>
  </div>

  <div class='col-lg-7 title-box text-white text-right d-none d-lg-block'>
    <div class='row no-gutters'>

      <div class='col-12'>
        <h1 class='subtitle font-weight-bold'>Converta facilmente suas Moedas</h1>
        <h3 class='subtitle font-weight-bold'>Para qualquer moeda no Mundo!</h3>
      </div>

    </div>
  </div>

</div>
