<div class='exchange-box col-sm-12 px-4'>
  <div class='card'>

    <div class='card-header text-center'>
      <h6 class='font-weight-bold m-0'>CONVERSÃO DE MOEDA</h6>
    </div>

    <div class='card-block text-center'>
      <%= form_tag('/convert', method: :get, id: 'exchange_form') do %>
        <div class='row no-gutters'>
          <div class='col-12'>
            <div class='form-group'>
              <h6 class='title bg-light m-0 py-2'>Moeda Local</h6>
              <%= select_tag 'source_currency', options_for_select(currency_list, 'BRL'), class: 'form-control', id: 'source_currency' %>
            </div>
          </div>

          <div class='col-12 mt-3'>
            <div class='row no-gutters'>
              <div class='col-10 pr-2'>
                <div class='form-group'>
                  <input type='text' name='amount' id='amount' class='form-control' placeholder='Quantidade ($10)' required>
                </div>
              </div>

              <div class='col-2 pt-2 btn-invert-currency' title='Inverter Moeda'>
                <%= icon('fas','sync-alt') %>
              </div>
            </div>
          </div>

          <div class='col-12 mt-3'>
            <div class='form-group'>
              <h6 class='title bg-light m-0 py-2'>Moeda Desejada</h6>
              <%= select_tag 'target_currency', options_for_select(currency_list, 'EUR'), class: 'form-control', id: 'target_currency'%>
            </div>
          </div>
        </div>

        <div class='dv-result mt-2' id='result' name='result'>Resultado ...</div>
      <% end %>
    </div>

  </div>
</div>
